WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none

Checks: >
    clang-analyzer-core.uninitialized.*,
    clang-analyzer-deadcode.DeadStores,
    clang-analyzer-core.DivideZero,
    clang-analyzer-core.NullDereference,
    bugprone-integer-division,
    checks=modernize-use-nullptr


