WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none

Checks: >
    clang-analyzer-core.uninitialized.*,
    clang-analyzer-deadcode.DeadStores,
    clang-analyzer-core.DivideZero,
    clang-analyzer-core.NullDereference,
    bugprone-integer-division,
    -readability-identifier-naming

CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

